body {
    background-color: #ADD8E6; /* Light blue color */
}

#menu {
	width: 100%;
	height: 35px;
	background: rgb(98, 162, 214);
	position: fixed;
}
 a {
    color: white;
    font-weight: bold;
	text-decoration:wavy;
	font-family: Arial, sans-serif;
	font-size: 22px;
    padding: 10px 15px;
}


 a:hover {
	font-weight: bold;
	font-size: 30px;
	background-color: blue;
	border-radius: 10px;
}

#about {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);
	
}
#photos {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);
}


.photo-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; /* Center align the photos */
}

.photo {
	width: 51%; /* Adjust as needed */
	margin-bottom: 20px;
}

.photo img {
	max-width: 60%;
	height: auto;
	border-radius: 10px; /* Optional: Add rounded corners to the photos */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
}

.photo p {
	margin-top: 10px;
	font-size: 16px;
}
#playlist {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#like {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}

#like {
    text-align: center;
}

#likeButton {
    padding: 10px 20px;
    font-size: 16px;
    border: white;
    background-color: #18dde4;
    color: white;
    cursor: pointer;
    border-radius: 19px;
    transition: background-color 0.3s;
}

#likeButton:hover {
    background-color: #13058f;
}

#likeCount {
    margin-top: 10px;
    font-size: 18px;
}


#qrcoder {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#spa {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#contact {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#likeButton {
	font-size: 25px; /* Adjust the font size to increase button size */
	padding: 10px 20px; /* Adjust padding to increase button size */
  }