#menu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 35px;
	background: rgb(241, 240, 240);
	z-index: 1000; /* Ensure the menu appears above other elements */

}
body {
    background-color: #ADD8E6; /* Light blue color */
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid rgb(243, 243, 243);
	background-color: blue;

}

table.section-title {
	background-color: white; /* Custom background color for the image table */
}
.section-title {
	text-align: center; /* Center align the text */
  }

table td {
	width: 16.67%; /* Set to 1/6th of the table width for 6 cells in a row */
	text-align: center;
	padding: 10px;
	white-space: nowrap; /* Prevents wrapping onto multiple lines */
}

table a {
	color: white;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 18px;
}

table a:hover {
	font-weight: bold;
	font-size: 20px;
	background-color: blue;
	border-radius: 10px;
}

#about {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);
	
}
#photos {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#playlist {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#like {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#qrcoder {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#spa {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#contact {
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 255, 0.726);

}
#likeButton {
	font-size: 25px; /* Adjust the font size to increase button size */
	padding: 10px 20px; /* Adjust padding to increase button size */
  }